<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
  <th:block th:include="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!--Top-->
<!--<div th:if="${post}">-->
  <form method="post" th:action="@{|/posts/${post.getId()}/edit|}" th:object="${post}">

    Title:
    <!--   @{} is usually for links?  -->
    <!--    Instead of name we use th field cause were making an post object-->
    <!--    We put what the post property with the field to set it.-->
    <!--    Dollar is what we use for our EXPRESSION LANGUAGE, for regular stuff?-->
    <input th:field="*{title}" />
    <!--  vs the *{} which is used to refer to the object we are building  -->
    <br />
    Body:
    <textarea th:field="*{body}" />
    <br />
    <input type="submit" />
<!--    <h2 th:text="${post.title}">title</h2>-->
<!--    <p th:text="${post.body}">body</p>-->
<!--    <br>-->

<!--    <label for="newTitle">Edit Title</label>-->
<!--    <textarea name="newTitle" id="newTitle" rows="5" cols="40" th:text="${post.title}"></textarea>-->
<!--    <label for="newBody">Edit Body</label>-->
<!--    <textarea name="newBody" id="newBody" rows="7" cols="40" th:text="${post.body}"></textarea>-->
<!--&lt;!&ndash;    <input hidden th:value="${post.id}" name="postId">&ndash;&gt;-->
<!--    <button type="submit">Submit changes.</button>-->
<!--  </form>-->

<!--  <br>-->
<!--  &lt;!&ndash;th:action="@{/posts/delete/{id}(id = ${post.id})}" method="post"&ndash;&gt;-->
<!--  <form method="post" action="/posts/delete">-->
<!--    <input hidden name="postId" th:value="${post.id}" id="postId">-->
<!--    <button type="submit">Delete Post?</button>-->
  </form>
<!--</div>-->

<!--Bottom-->
<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
</body>
</html>

