<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
  <th:block th:include="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!--Top-->
<!--<div th:if="${post}">-->
<!--<form method="post" th:action="@{|/posts/${post.getId()}/edit|}" th:object="${post}">-->

<!--  Title:-->
<!--  &lt;!&ndash;   @{} is usually for links?  &ndash;&gt;-->
<!--  &lt;!&ndash;    Instead of name we use th field cause were making an post object&ndash;&gt;-->
<!--  &lt;!&ndash;    We put what the post property with the field to set it.&ndash;&gt;-->
<!--  &lt;!&ndash;    Dollar is what we use for our EXPRESSION LANGUAGE, for regular stuff?&ndash;&gt;-->
<!--  <input th:field="*{title}"/>-->
<!--  &lt;!&ndash;  vs the *{} which is used to refer to the object we are building  &ndash;&gt;-->
<!--  <br/>-->
<!--  Body:-->
<!--  <textarea th:field="*{body}"/>-->
<!--  <br/>-->
<!--  <input type="submit"/>-->
<!--</form>-->
<form action="/posts/create" th:action="@{|/posts/${post.getId()}/edit|}" method="post" th:object="${post}">
  <div class="card text-center my-3 mx-auto index-card">
    <div class="card-body">
      <label for="title">Title</label>
      <input th:field="*{title}" id="title" name="title" class="card-title">
      <label for="body">Body</label>
      <input th:field="*{body}" id="body" name="body" class="card-text show-p">
      <button type="submit" class="btn btn-primary">Save changes to Post</button>
    </div>
    <div class="card-footer text-muted">
      Posted by: <span th:text="${post.user.username}">I wanna put a th:text user</span>
    </div>
  </div>
</form>
<form th:action="@{|/posts/${post.getId()}/delete|}" method="post">
  <input hidden name="id" id="id" th:value="${post.getId}">
  <button type="submit" class="btn btn-primary">Remove Post</button>
</form>
<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
</body>
</html>

