<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Showing Post</title>
  <th:block th:include="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!-- Top -->

<div th:if="${post}" class="card text-center my-3 mx-auto index-card">
  <div class="card-body">
    <h5 class="card-title" th:text="${post.title}">Post title</h5>
    <p class="card-text show-p" th:text="${post.body}">Body</p>
    <div th:if="${isPostOwner}">
      <a th:href="@{|/posts/${post.getId()}/edit|}" class="btn btn-primary">Edit Post</a>
    </div>
  </div>
  <div class="card-footer text-muted">
    Posted by: <span th:text="${post.user.username}"></span>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add new Comment!
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Please leave a comment!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Comment text body?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
      </div>
    </div>
  </div>
</div>

<div th:each="comment : ${post.comments}">
  <div class="card-body">
    <h5 class="card-title" th:text="${comment.commenter.username}"></h5>
    <p class="card-text show-p" th:text="${comment.body}"></p>
  </div>
</div>

<!--Bottom-->
<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
</body>
</html>
