<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>ads</title>
  <th:block th:include="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!--Top-->
<ul th:each="ad : ${ads}">
  <li>
<!--    Hi-->
<a th:href="@{|ads/${ad.getId()}|}"><span th:text="${ad.getTitle()}"></span></a>
    <p th:text="${ad.user.username}"></p>
  </li>
</ul>

<!--Bottom-->
<!--<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>-->
</body>
</html>
