<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:include="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!--Top-->
<div th:if="${ad}">
  <h2 th:text="${ad.title}">title</h2>
  <p th:text="${ad.description}">description</p>
</div>
<h3>Upload image?</h3>
<form action="/fileupload" method="POST" enctype="multipart/form-data">
  <label for="file">Upload a file!</label>
  <input id="file" name="file" type="file" />
  <br />
  <input type="submit" value="upload" />
</form>

<!--Bottom-->
<th:block th:include="partials/scripts.html  :: bootstrap"></th:block>
</body>
</html>
